.Navbar {
  display: flex;
  height: 60px;
  align-items: center;
  background: white;
  position: sticky; top: 5px;
  margin: 5px 0.5em;
  z-index: 1;
  border: solid 1.5px transparent;
}

.Navbar:hover {
  border-color:#5cb85c;
}

.logo {
  height:40px;
  margin: 0 0 0 2.5em;
}

.pageIndex {
  margin: 25px 0 auto 1%;
  font-weight: bold;
  color: #005254;
}

.PrevButton {
  margin: 23px 0 auto 43%;
}

.NewPostButton {
  margin: 25px auto auto 44%;
}

.SchedulePostButton {
  margin: 25px auto auto 25%;
}

.NextButton {
  margin: 23px 0 auto 1.2%;
}

.PageHandler {
  display: flex;
}

#message {
  background-color: white;
  margin: 30px auto 30px auto;
  width: 26rem;
  min-height: 7rem;
}

#message:hover {
  border-color:#5cb85c;
}

#messageBody {
  margin: 10px auto 0px 8px;
}

#timeStamp {
  float:right;
  font-size: 13px;
  margin:30px auto 0px auto;
}

#DateTimePicker {
  margin-top: 25px;
}
